body {
    padding: 50px;
    background-color: cornflowerblue;
}

header {
    text-align: center;
}

section {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
    margin-left: calc(50% - 200px);
}

.nascimento {
    padding: 20px;
}

.sexo {
    margin-left: 20px;
}

.button {
    text-align: center;
}

.res {
    text-align: center;

}

footer {
    text-align: center;
    margin-top: 9px;
}

img {
    background-color: black;
    border-radius: 400px;
    width: 200px;
    height: 200px;
}

@media (max-width: 400px) {

    section {
        width: 350px;
        height: 400px;
        margin-left: -7vw;
    }
}
